<div class="column" style="position: relative; margin-top: 20vh;">
  <%= image_tag("icons/camera2.svg", size: "50", class: "new-photo-icon") %>
  <p class="new-photo-icon mt-5"><%= t("profile.no_posts") %></p>
</div>