<div class="columns is-mobile pl-3 pr-3 mb-0">
  <div class="column is-narrow pr-0">
    <%= show_user_avatar comment.user, 25 %>
  </div>
  <div class="column pl-2">
    <p class="is-inline has-text-weight-semibold mr-2"><%= comment.user.username %></p><p class="is-inline"><%= comment.text %></p>
  </div>
</div>
<div class="pl-5">
  <%= render partial: "comments/comment", collection: @photo.comments.select {|child_comment| child_comment["parent_id"] == comment.id} %>
</div>
