<div class="columns is-mobile is-centered mt-3">
  <div class="column is-8-desktop is-12-tablet is-12-mobile">
    <div class="box">
      <div class="tabs is-centered">
        <ul>
          <li class="is-active"><a><%= t("edit_profile.main_info") %></a></li>
          <li><%= link_to t("edit_profile.password"), edit_user_registration_url %></li>
        </ul>
      </div>
      <%= form_for @user do |f| %>
        
      <% end %>
    </div>
  </div>
</div>