<div class="columns is-gapless is-mobile is-vcentered mb-1">
  <div class="column is-narrow" style="display: flex">
    <%= form_for :like, url: photo_likes_path(photo) do |f| %>
      <%= f.button (show_like photo, current_user), type: "submit", class: "icon-button", style: "cursor: pointer" %>
    <% end %>
  </div>
  <div class="column is-narrow">
    <p class="has-text-weight-semibold is-size-6 pt-1" style="color: black"><%= t("show_photo.likes") + (separator photo.likes_count).to_s %></p>
  </div>
</div>