<div class="box padding-none">
  <%= render "header", photo: post %>
  <div class="column is-12-desktop is-12-tablet is-12-mobile show-box padding-none">
    <%= image_tag(post.images.first) %>
  </div>
  <%= render "likes", photo: post %>
  <%= render "text", photo: post %>
</div>