/* Main */

.background-color{
    background-color: rgb(252,252,252);
}

.top-margin-20{
    margin-top: 20vh;
}

.top-margin-15{
    margin-top: 15vh;
}

.line{
    border-bottom: 1px solid rgb(200,200,200);
}

h1{
    width: 100%; 
    text-align: center; 
    border-bottom: 1px solid rgb(200,200,200); 
    line-height: 0.1em;
    margin: 10px 0 20px; 
} 
 
h1 span{ 
     background:#fff; 
     padding:0 10px; 
}

/* Navbar */

.navbar-logo{
    height: 32px;
    width: 120px;
    margin-top: 10px;
}

.navbar-icon{
    margin-top: 14px;
    margin-left: 10px;
    margin-right: 10px;
}

.custom-navbar{
    width: 100%;
    height: 52px;
    background-color: white;
    border-bottom: 1px solid;
    border-color: rgb(219,219,219);
}

.custom-navbar-start{
    float: left;
}

.custom-navbar-end{
    float: right;
    display: inline;
}

.custom-navbar-item{
    display: inline-block;
}
