/* Main */

.background-color{
    background-color: rgb(252,252,252);
}

.top-margin-20{
    margin-top: 20vh;
}

.top-margin-15{
    margin-top: 15vh;
}

.top-margin-5{
    margin-top: 5vh;
}

.line{
    border-bottom: 1px solid rgb(200,200,200);
}

h1{
    width: 100%; 
    text-align: center; 
    border-bottom: 1px solid rgb(200,200,200); 
    line-height: 0.1em;
    margin: 10px 0 20px; 
} 
 
h1 span{ 
     background:#fff; 
     padding:0 10px; 
}

.padding-none{
    padding: 0px;
}

/* Navbar */

.navbar-logo{
    height: 32px;
    width: 120px;
    margin-top: 10px;
}

.navbar-icon{
    margin-top: 14px;
    margin-left: 10px;
    margin-right: 10px;
}

.custom-navbar{
    width: 100%;
    height: 52px;
    background-color: white;
    border-bottom: 1px solid;
    border-color: rgb(219,219,219);
}

.custom-navbar-start{
    float: left;
}

.custom-navbar-end{
    float: right;
    display: inline;
}

.custom-navbar-item{
    display: inline-block;
}

/* Buttons */

.icon-button{
    border: none;
    background-color: transparent;
}

/* Header */

.custom-header{
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid;
    border-color: rgb(219,219,219);
}

/* New photo */

.image-preview{
    width: 100%;
    aspect-ratio: 1 / 1;
    background-color: rgb(245,245,245);
}

.text-area-photo{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 10px;
    font-size: 1rem;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid rgb(219,219,219);
    resize: none;
    overflow: hidden;
    color: rgb(54,54,54);
    line-height: 1.75;
    caret-color: rgb(100,100,100);
}

.text-area-photo:focus{
    outline: none;
    border-bottom: 2px solid rgb(185,185,185);
}

.new-photo-icon{
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%);
}

/* All photo page */

.padding-025{
    padding: 0.25rem;
}

/* Show photo */

.show-photo{
    max-height: 85vh;
    margin: auto;
}

.show-box{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media(min-width: 1024px){
    .full-height-screen{
        min-height: 80vh;
    }
}
