<div class="custom-navbar-item">
  <%= link_to image_tag("icons/house.svg", size: "24", class: "navbar-icon"), photos_url %>
</div>
<div class="custom-navbar-item">
  <%= link_to image_tag("icons/envelope.svg", size: "24", class: "navbar-icon"), root_url %>
</div>
<div class="custom-navbar-item">
  <%= link_to image_tag("icons/plus-square.svg", size: "24", class: "navbar-icon"), new_photo_url %>
</div>
<div class="custom-navbar-item">
  <%= link_to image_tag("icons/heart.svg", size: "24", class: "navbar-icon"), root_url %>
</div>